.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 6rem;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

td {
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  width: 35rem;
  height: fit-content;
  margin: auto;
}

h1 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

button {
  all: unset;
  background-color: rgb(141, 184, 245);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  color: white;
  border-radius: .3rem;
  padding: .3rem;
}

button:hover {
  cursor: pointer;
}

